<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% if latest_issue_list %}
    <ul>
    {% for issue in latest_issue_list %}
        <li><a href="{% url 'issueTracker:detail' issue.id %}">{{ issue.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p><h1>No issues are available.</h1></p>
{% endif %}
</body>
</html>